<div class="expierience wrapper">
  <p>Kompleksowe remonty, wykończenia&nbsp;wnętrz</p>
  <h1>15 lat doświadczenia</h1>
</div>

<style>
  .expierience {
    margin-top: 3rem;
    padding-block: 3rem;
    text-transform: uppercase;
    text-align: center;
  }

  .expierience p {
    font-weight: 500;
  }
  .expierience h1 {
    margin-top: 2rem;
    font-size: 1.75rem;
  }

  @media (min-width: 60rem) {
    .expierience p {
      font-size: 1.5rem;
    }
    .expierience h1 {
      font-size: 4rem;
    }
  }
</style>
