<footer>
  <div class="wrapper">
    <p>&copy; 2024 MADREM SP Z.O.O</p>
    <p>broken@op.pl</p>
    <p>Tel: 508 112 123</p>
    <p>
      Strona wykonana przez <a href="https://bielsania.netlify.app/"
        >Bielsania</a
      >
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--clr-text);
    color: var(--clr-main);
    font-size: 14px;
    padding-block: 1.5rem;
  }

  footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }

  footer a {
    color: inherit;
  }
</style>
