<footer>
  <div class="wrapper">
    <p>&copy; 2024 MADREM SP Z.O.O</p>
    <p>broken@op.pl</p>
    <p>Tel: 508 112 123</p>
    <p>
      Strona wykonana przez <a target="_blank" href="https://bielsania.pl">
        Bielsania
      </a>
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--clr-text);
    color: var(--clr-main);
    font-size: 14px;
    padding-block: 1.5rem;
  }

  footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  footer > div > :is(:first-child, :last-child) {
    flex-basis: 100%;
  }

  footer a {
    color: inherit;
  }

  @media (min-width: 60rem) {
    footer .wrapper {
      justify-content: space-between;
    }

    footer > div > :is(:first-child, :last-child) {
      flex-basis: initial;
    }
  }
</style>
